<div class="login-page">
  <!-- Background decoration -->
  <div class="bg-decoration">
    <div class="bg-circle bg-circle-1"></div>
    <div class="bg-circle bg-circle-2"></div>
    <div class="bg-circle bg-circle-3"></div>
  </div>

  <div class="login-container fade-in">
    <!-- Header -->
    <div class="login-header">
      <div class="logo-container">
        <div class="logo-icon">
          <span class="rupee-symbol">₹</span>
        </div>
      </div>
      <h1 class="login-title">Welcome Back</h1>
      <p class="login-subtitle">Sign in to your Money Transfer account</p>
    </div>

    <!-- Error Alert -->
    <div class="error-alert" *ngIf="errorMessage">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18" height="18">
        <path fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
          clip-rule="evenodd" />
      </svg>
      <span>{{ errorMessage }}</span>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
      <!-- Username Field -->
      <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <div class="input-wrapper" [class.input-error]="username.invalid && username.touched"
          [class.input-valid]="username.valid && username.touched">
          <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18"
            height="18">
            <path fill-rule="evenodd"
              d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
              clip-rule="evenodd" />
          </svg>
          <input id="username" type="text" class="form-input" placeholder="Enter your username"
            formControlName="username" autocomplete="username" />
        </div>
        <div class="field-error" *ngIf="username.invalid && username.touched">
          <span *ngIf="username.errors?.['required']">Username is required</span>
          <span *ngIf="username.errors?.['minlength']">Username must be at least 3 characters</span>
        </div>
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <div class="input-wrapper" [class.input-error]="password.invalid && password.touched"
          [class.input-valid]="password.valid && password.touched">
          <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18"
            height="18">
            <path fill-rule="evenodd"
              d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"
              clip-rule="evenodd" />
          </svg>
          <input id="password" [type]="showPassword ? 'text' : 'password'" class="form-input"
            placeholder="Enter your password" formControlName="password" autocomplete="current-password" />
          <button type="button" class="toggle-password" (click)="togglePassword()" tabindex="-1">
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              width="18" height="18">
              <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
              <path fill-rule="evenodd"
                d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                clip-rule="evenodd" />
            </svg>
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              width="18" height="18">
              <path
                d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
              <path
                d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
              <path
                d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
            </svg>
          </button>
        </div>
        <div class="field-error" *ngIf="password.invalid && password.touched">
          <span *ngIf="password.errors?.['required']">Password is required</span>
          <span *ngIf="password.errors?.['minlength']">Password must be at least 4 characters</span>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="login-btn" [disabled]="isLoading">
        <span *ngIf="!isLoading">Login</span>
        <span *ngIf="isLoading" class="loading-spinner">
          <span class="spinner"></span>
          Authenticating...
        </span>
      </button>

      <div class="forgot-link">
        <a href="#" (click)="$event.preventDefault()">Forgot password?</a>
      </div>
      <div class="register-link" style="margin-top:8px; text-align:center;">
        <a href="#" (click)="$event.preventDefault(); navigateToRegister()">Create an account</a>
      </div>
    </form>


  </div>